.countries {
  max-width: 990px;
  width: calc(100% - 40px);

  background-color: palevioletred;

  padding: 20px 10px;
  margin: 30px 20px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}